# 忽略訓練資料夾 (檔案太大，不需要放進執行環境)
chest_xray/

# 忽略 Python 暫存檔
__pycache__/
*.pyc

# 忽略 Git 版本控制檔
.git/
.github/
.gitignore

# 忽略本地端的虛擬環境 (如果您有的話)
venv/
env/
.venv/
data/
chest_xray_dataset.zip
chest_xray_extracted/
tests/
